
@import 'materialize-css/sass/materialize.scss';

@import 'pikaday/scss/pikaday.scss';

body{
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

.background-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/Resources/Background_img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text--white {
    color: white;
}

.collection {
    border: 1px solid #e0e0e000;
}

.collection .collection-item {
    background-color:transparent;
}

.sidenav.sidenav-fixed {
    position: absolute;
    top: 0;
    bottom:0;
}