#PrintableReciept,
#PrintableReport{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 15px;
    display:none;
}

.printables .text-end{
    text-align: end;
}
.printables .text-left {
    text-align: left;
}
.printables .text-center {
    text-align: center;
}

.printables * {
    font-size: 10px;
}

.printables h1 {
    font-size: 45px;
}
.printables h4 {
    font-size: 25px;
}
.printables h5 {
    font-size: 15px;
}

table#sales_report {
    counter-reset: rowNumber;
}
table#sales_report tbody tr {
    counter-increment: rowNumber;
}
table#sales_report tbody tr td:first-child::before{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
    
}

@media print {
    #PrintableReciept,
    #PrintableReport{
        display:block !important;
    }
}